body {

}


#banner {
    width: 100%;
}

.principal {
    padding: 30px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.tituloprincipal{
    padding-left: 20px;
}

.titulocentralizado {
    text-align: left;
}

p {
    text-align: left;
}

#missao {
    font-size: 20px
}

em strong {
    font-weight: bold;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 25%;
}